{% extends 'base.html' %}

{% block title %}Página Inicial{% endblock %}
{% block content %}
<section id="welcome" class="py-5">
    <h1 class="py-2 text-center fw-bold">Bem-vindo(a)!</h1>
    <div class="container d-flex justify-content-center py-2">
        <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
            <div class="col d-flex justify-content-center">
              <div class="card border-secondary border rounded-3" style="width: 18rem;">
                <img src="{{ url_for('static', filename='img/adddoc.jpg') }}" class="card-img-top card-img-fix" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Adicionar pacientes</h5><hr>
                  <p class="card-text">Adicione um novo paciente, atribua um prontuário ao paciente</p>
                  <a href="#" class="btn btn-primary d-flex justify-content-center">Adicione novo paciente</a>
                </div>
              </div>
            </div>
            <div class="col d-flex justify-content-center">
              <div class="card border-secondary border rounded-3" style="width: 18rem;">
                <img src="{{ url_for('static', filename='img/search.jpg') }}" class="card-img-top card-img-fix" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Pesquisar pacientes</h5><hr>
                  <p class="card-text">Pesquise pacientes, acesse seus prontuários e confira informações</p>
                  <a href="#" class="btn btn-primary d-flex justify-content-center">Pesquise</a>
                </div>
              </div>
            </div>
            <div class="col d-flex justify-content-center">
              <div class="card border-secondary border rounded-3" style="width: 18rem;">
                <img src="{{ url_for('static', filename='img/myprof.jpg') }}" class="card-img-top card-img-fix" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Meu perfil</h5><hr>
                  <p class="card-text">Confira as informações de seu perfil</p>
                  <a href="#" class="btn btn-primary d-flex justify-content-center">Acesse seu perfil</a>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}