{% extends 'base.html' %}

{% block title %}Pesquisa de prontuários{% endblock %}

{% block content %}
<section id="welcome" class="py-5">
    <div class="container px-4">
        <div class="row">
            <div class="col-md-12">
                <h1 class="py-2 text-center fw-bold">Pesquise prontuários</h1>
            </div>
            <div class="table-responsive">
                <table id="example" class="table table-striped table-hover table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>Data de Nascimento</th>
                            <th>Estagiário</th>
                            <th>Supervisor</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for paciente in pacientes %}
                      <tr>
                          <td>{{ paciente.patients_id }}</td>
                          <td>{{ paciente.name }}</td>
                          <td>{{ paciente.cpf }}</td>
                          <td>{{ paciente.birthday.strftime('%d/%m/%Y') }}</td>
                          <td>{{ paciente.intern }}</td>
                          <td>{{ paciente.supervisor }}</td>
                      </tr>
                      {% endfor %}              
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
