{% extends 'base.html' %}

{% block title %}Sobre{% endblock %}
{% block content %}
<section id="welcome" class="py-5">
    <h1 class="py-2 text-center fw-bold">Sobre</h1>
        <div class="welcome-description mt-4 text-center">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam expedita labore voluptatem ratione nulla modi error harum accusantium magni, rerum dolor consequatur, eius vero recusandae adipisci aut nemo quod? Sint!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam expedita labore voluptatem ratione nulla modi error harum accusantium magni, rerum dolor consequatur, eius vero recusandae adipisci aut nemo quod? Sint!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam expedita labore voluptatem ratione nulla modi error harum accusantium magni, rerum dolor consequatur, eius vero recusandae adipisci aut nemo quod? Sint!</p>
        </div>     
</section>
{% endblock %}